VITE_MFE_OVERVIEW_REMOTE_ENTRY=https://mfe-overview.example.vercel.app/remoteEntry.js
VITE_MFE_USERS_REMOTE_ENTRY=https://mfe-users.example.vercel.app/remoteEntry.js
VITE_MFE_REPORTS_REMOTE_ENTRY=https://mfe-reports.example.vercel.app/remoteEntry.js
VITE_MFE_SETTINGS_REMOTE_ENTRY=https://mfe-settings.example.vercel.app/remoteEntry.js
